// Check & Create Table if not exists
mysqli_query($conn, "CREATE TABLE IF NOT EXISTS clients (
safe_query("CREATE TABLE IF NOT EXISTS surat_masuk (
safe_query("CREATE TABLE IF NOT EXISTS surat_keluar (
    return "CREATE TABLE IF NOT EXISTS `tte_licenses` (
// ===== CREATE TABLE IF NOT EXISTS =====
$conn->query("CREATE TABLE IF NOT EXISTS login_attempts (
            CREATE TABLE IF NOT EXISTS `tte_document_log` (
